:root {
    --badge:"M131.237 5.88756C142.399 -1.96252 157.587 -1.96252 168.762 5.88756C195.537 24.7128 189.787 22.9127 222.95 22.8127C236.8 22.7627 249.088 31.3378 253.313 44.013C263.476 74.3508 259.901 69.6632 286.801 88.3134C298.039 96.101 302.739 109.976 298.401 122.614C288.076 152.827 288.026 147.027 298.401 177.377C302.739 190.014 298.039 203.89 286.801 211.677C259.913 230.327 263.476 225.64 253.313 255.978C249.088 268.653 236.8 277.228 222.95 277.19C189.775 277.078 195.537 275.278 168.762 294.103C157.587 301.966 142.399 301.966 131.237 294.103C104.449 275.29 110.212 277.065 77.0487 277.19C63.1986 277.228 50.9109 268.653 46.6859 255.978C36.5358 225.602 40.0233 230.302 13.1855 211.677C1.96042 203.89 -2.73962 190.014 1.59792 177.377C11.9355 147.152 11.973 152.964 1.59792 122.614C-2.73962 109.976 1.96042 96.101 13.1855 88.3134C40.0108 69.7007 36.5233 74.4133 46.6859 44.013C50.9109 31.3378 63.1986 22.7627 77.0487 22.8127C110.124 22.9127 104.299 24.8253 131.237 5.88756Z";
}
.body {
    font-family: 'DM Sans', sans-serif;

}
.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: 'Playfair Display', serif;
    height: 70px;
}

.logo {
    width: 30%;
    text-align: center;
    background-color: black;
    height: 70px;
    position: relative;
}

.logopic {
    width: 50px;
    padding: 2%;
    margin: auto;
    position: absolute;
    left: 10%;

}

nav {
    width: 70%;
    height: 65px;
    background-color: black;
    font-family: 'Playfair Display', serif;
    margin-left: -4px;
}

ul {
    width: auto;
    color: white;
}

li {
    margin: 0 auto;
    padding: 5px 10px;
}

.heroImg {
    height: 25%;
    max-width: 60%;
    padding: 25px;
    margin: auto;
    text-align: center;
    /* margin: 0 auto; */
}

.hero {
    height: 300px;
    object-fit: cover;
    position: relative;
    justify-content: right;
    clip-path: path(var(--badge));
}

.content {
    display: flex;
    flex-direction: row;
    /* width: fit-content;
    padding: 2%;
    margin: 0 auto; */
    font-family: 'DM Sans', sans-serif;
    font-size: small;
    justify-content: center;
    /* box-shadow: 20px 20px 60px 5px pink; */
}

.content>p {
    margin:5px;
    padding: 10px;
    width: 350px;
    justify-content: left;

}

#buttonDiv {
    height: fit-content;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 55%;
    padding: 5px 10px;
}

.callToAction {
    border-radius: 20px;
    background: var(--Portfolio-Teal, #1F4E58);
    color: whitesmoke;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}
.callToAction:hover {
    background-color: #E4D1C0;
    color: black;
    border-color: #F7F0EA;
}
.otherBtns {
    background-color: #F7F0EA;
    color: black;
    border-color: #F7F0EA;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}
.otherBtns:hover {
    background-color: #E4D1C0;

}


footer {
    background-color: #373738;
    padding: 25px;
}

footer>ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: white;
    width: auto;
    font-family: 'Playfair Display', serif;
}

/* UX UI HW 18 Starts here */

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* .outerDiv {
    display: flex;
} */

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3%;
    padding: 1%;
}
/* .skillsDiv div {
    width: 100%;
    padding: 25px;
  } */

/* .toolsDiv div {
    width: 30%;
    padding: 25px;
    font-family: 'DM Sans', sans-serif;
} */
.flexContainer>h3 {
    text-align: center;
    width: 100%;
}


.skillsDiv {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'DM Sans', sans-serif;
    padding: 25px;
}
.skillsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    padding: 25px;
    /* width: fit-content; */
}
.toolsDiv {
    display: none;
    font-family: 'DM Sans', sans-serif;
    justify-content: space-between;

}

.tab1 .tab2 {
    background-color: white;
    color: black;
}
.tabBar {
    text-align: center;
}

.cardTop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#card1 {
    width: 33%;
}
#card2 {
    width: 33%;
}
#card3 {
    width: 33%;
}
.skillD {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.toolsCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
/* <!--  My UX Skills section coded using CSS flex --> */

.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "cs1 cs1"
        "cs2 cs2";
    align-items: center;
    text-align: center;
    font-size: medium;
}

.card1 {
    grid-area: cs1;
    border-radius: 14px;
    border: 1px solid #AAA;
    background: rgba(139, 112, 65, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2%;
    display: flex;
    align-items: top;
    justify-content: center;
}
.card1 p {
    padding: 10px;
}
.card2 p {
    padding: 10px;
}
.card2 {
    grid-area: cs2;
    border-radius: 14px;
    border: 1px solid #AAA;
    background: rgba(139, 112, 65, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.csaImg {
    margin: 3%;
}

.csaImg>img {
    object-fit: cover;
    width: 70%;
    max-height: 100%;
    border-radius: 14px;
}

.gridImg2 {
    object-fit: cover;
    margin: 3%;
    border-radius: 14px;
}

.gridImg2>img {
    object-fit: cover;
    width: 70%;
    max-height: 100%;
}

/* #CSA {
    grid-area: csa;
    margin: 20px;

}

#mhs {
    grid-area: mhs;
    margin: 20px;
} */

/* Style for Cards if using divs to create cards for case study */

/* .card1 {
    border-radius: 14px;
    border: 1px solid #AAA;
    background: rgba(139, 112, 65, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card2 {
    border-radius: 14px;
    border: 1px solid #AAA;
    background: rgba(139, 112, 65, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */

/* <!-- My Work Section Constructed using CSS Grid --> */

@media only screen and (max-width: 600px) {
    .outerDiv {
        flex-direction: column;
    }

    .flexContainer>* {
        width: 100%;
        flex-direction: column;
    }

    .workGrid{    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (2, 1fr);
        grid-template-areas:
            "cs1"
            "cs2";
        align-items: center;
        justify-content: center;
    } 

    #buttonDiv {
        position: inherit;
    }
    .card1 {
        display:block;
        text-align: center;
    }
    .card2 {
        display: block;
        text-align: center;
    }
    .content {
        flex-direction: column;
    }
    .content>p {
        width: 90%;
    }
}